.logo {
  width: 124;
  height: 71;
}
.button1 {
  background-color: transparent;
  border-color: transparent;
  margin-left: 82px;
}
.navbar-bgr {
  padding: 32px 101px 34px 100px;
  position: sticky;
  background-color: white;
}
.font1 {
  font-family: Jost;
  font-size: 18px;
  color: #454868;
  font-weight: 500;
  line-height: 26px;
}
.menu {
  justify-content: center;
}
.button2 {
  border-radius: 10px;
  border-width: 1px;
  padding: 12px 31px 12px 32px;
  border-color: #45486833;
  background-color: transparent;
}
.background {
  width: 1520px;
  height: 720px;
  background-image: url("./assets/Rectangle.png");
  background-repeat: no-repeat;
  margin-left: 40px;
  padding-left: 60px;
}
.font2 {
  font-size: 80px;
  font-family: Jost;
  font-weight: 700;
  line-height: 104px;
  color: white;
}
.font3 {
  line-height: 25.2px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.dev-picture {
  position: relative;
  bottom: 34px;
  left: 103px;
}
.font4 {
  font-size: 40px;
  font-weight: 700;
  font-family: Jost;
  line-height: 48px;
  color: #454868;
}
.button3 {
  box-shadow: 0px 15px 50px 0px #e674b914;
  border-color: white;
  background-color: transparent;
  width: 300px;
  height: 400px;
  border-radius: 48px;
}
.font5 {
  font-size: 24px;
  line-height: 31.2px;
  font-family: Jost;
  font-weight: 700;
}
.about {
  background-color: #fc74d00d;
  margin-top: 250px;
  padding-left: 100px;
  padding-top: 82px;
  padding-bottom: 100px;
}
.header-pricing {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-pricing {
  margin-top: 120px;
  padding: 0px 0px 0 100px;
}
.card {
  width: 422px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  box-shadow: 0px 15px 50px 0px #e674b914;
  border-radius: 48px;
}
.font6 {
  font-size: 32px;
  line-height: 38.4px;
  font-family: Jost;
  font-weight: 700;
  color: #454868;
}
.footer {
  height: 467px;
  background-color: #010851;
  padding: 79px 100px 32px 100px;
  margin-top: 101px;
}
.style-column1 {
  height: 226px;
  width: 451px;
}
.font7 {
  font-size: 16px;
  line-height: 19.36px;
  font-family: Jost;
  font-weight: 400;
  color: white;
}
.social {
  justify-content: space-between;
}
